@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}


div ::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  /* background: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: #FFFFFF30;
  border-radius: 10px;
  /* width: 10px;
  height: 2px */
}

::-webkit-scrollbar-thumb:vertical {
  background: #00000020;
  border-radius: 10px
}

::-webkit-scrollbar-track-piece:end {
  /* margin-right: 200px; */
}
