@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}


div ::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  /* background: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: #FFFFFF30;
  border-radius: 10px;
  /* width: 10px;
  height: 2px */
}

::-webkit-scrollbar-thumb:vertical {
  background: #00000020;
  border-radius: 10px
}

::-webkit-scrollbar-track-piece:end {
  /* margin-right: 200px; */
}

/* Handle on hover */

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-BlackItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-ExtraBold.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Bold.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Black.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Regular.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-ExtraLightItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-ExtraLight.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Light.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-LightItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Italic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Medium.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-ThinItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-Thin.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Display';
  src: url('../public/fonts/InterDisplay-SemiBold.woff2') format('woff2'),
    url('../public/fonts/InterDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-LightItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Light.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Italic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-ThinItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Medium.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-Thin.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
    url('../public/fonts/JetBrainsMono-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
